.form {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  &-hide {
    display: none;
  }
  .form-control {
    margin: 10px 0;

    label {
      display: block;
    }

    input {
      width: 90%;
      height: 40px;
      margin: 5px;
      padding: 3px 7px;
      font-size: 17px;
    }

    &-check {
      @extend .form-control;
      display: flex;
      align-items: center;
      justify-content: space-between;
      label {
        flex: 1;
      }
      input {
        flex: 2;
        height: 20px;
      }
    }
    Button {
      width: 50%;
    }
  }
}
